/* Hide scrollbar for Webkit browsers */

div.scrollmenu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  
  div.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  div.scrollmenu {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Adjust this value based on your layout */
    z-index: 1000; /* Ensure it's on top of other content */
    align-content: center;
    background-color: white;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    padding-left: 0px, 10px, 0px, 10px;
    text-decoration: none;
    border-radius: 8px;
  }
  
  
  .custom-card {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .custom-card img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .custom-card .card-content {
    flex-grow: 1;
    padding-left: 15px;
  }
  
  .custom-card .card-content h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .custom-card .card-content .price {
    margin: 0px 0;
    font-size: 14px;
    color: #333;
  }
  
  .custom-card .card-content .description {
    margin: 0;
    font-size: 12px;
    color: #777;
  }

.items {
    background-color: rgba(245, 245, 245, 0.493);
    border-radius: 4px;
  }

  .link {
    color: #333;
    text-decoration: none;
    position: relative;
  }
  


  